.edit-menu {
  position: fixed;
  width: 100%;
  color: white;
  bottom: 40px;
  display: flex;

  .edit-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
    background: rgba(0, 0, 0, 0.5);
    height: 130px;

    label {
      font-size: 10px;
      margin-bottom: 12px;
      letter-spacing: 2px;
      user-select: none;
    }
  }

  .colors-wrapper {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }

  .button-list {
    width: 175px;
    display: flex;
    justify-content: space-between;

    .button-input {
      background: none;
      color: white;
      font-family: sans-serif;
      border: 1px solid transparent;
      height: 30px;
      width: 30px;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        border-color: white;
      }
    }
  }
}

@media (max-width: 930px) {
  .edit-menu {
    flex-direction: column-reverse;

    .edit-block {
      width: 100%;
      padding: 20px 0;
      height: auto;
    }
  }
}
