.header {
  letter-spacing: 2px;
  z-index: 10;
  position: fixed;
  display: flex;
  width: 100%;

  .header-inner {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      color: white;
      text-decoration: none;
      user-select: none;
    }

    .info-button {
      width: 20px;
      height: 20px;
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
