.header {
  letter-spacing: 2px;
  z-index: 10;
  position: fixed;
  display: flex;
  width: 100%;

  .header-inner {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      color: white;
      text-decoration: none;
      user-select: none;
    }

    .info-button {
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      user-select: none;
    }
  }
}
